/*
@import '../base/mixins';
@import '../base/variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Croissant One', cursive;
}
.container{
    height: 100vh;
    background: url('../assets/Bg01.jpg') no-repeat center center/cover;
    &__hero{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 1200px;
        &__leftside{
            margin-top: 150px;
            width: 50%;
            margin: auto;
            background-color: rgba(202, 202, 202, 0.651);
            padding: 30px 20px;
            border-radius: $border-radius-xl;
            
            h1{
                font-size: $font-size-xxl;
                font-weight: 700;
                margin: 10px;
                line-height: 58px;
                overflow: hidden;
            }
            p{
                font-size: $font-size-xsm;
                margin: 10px 10px 15px 10px;
            }
            button{
                width: 45%;
                padding: 15px 20px;
                border: none;
                outline: none;
                background: $deep-dark;
                color: $deep-white;
                font-size: $font-size-sm;
                font-weight: 600;
                border-radius: $border-radius-sm;
                cursor: pointer;
                transition: background 0.3s ease;
                &:hover{
                    background: $light-white;
                    color: #221B16;
                }
                margin: auto 10px;
            }
            input{
                width: 94%;
                padding: 15px 20px;
                margin: 10px 10px 0 10px;
                border: none;
                outline: none;
                background: $deep-white;
                color: $deep-dark;
                font-size: $font-size-m;
                font-weight: 600;
                border-radius: $border-radius-sm;
            }
        }
        &__rightside{
            width: 50%;
            height: 100%;
            margin: auto;
            position: relative;
            z-index: 0;
            overflow: hidden;
            img{
                width: 600px;
                height: 600px;
                object-fit: cover;
                position: absolute;
                border-radius: 50%;
                top: 90px;
                left: 15px;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 130px;
                width: 350px;
                height: 480px;
                background: #221B16;
                z-index: -1;
                border-radius: 0px 0px 100px 100px;
            }
        }
    }
    .containerDown{
        width: 100%;
        &__heroItems{
            display: flex;
            justify-content: center;
            align-items: center;
            &__Item1{
                position: relative;
                position: absolute;
                top: 600px;
                right: 460px;
                width: 250px;
                height: 100px;
                padding: 15px;
                background: $deep-dark;
                border-radius: $border-radius-xl;
                color: $deep-white;
                cursor: pointer;
                transition: background 0.6s ease;
                &:hover{
                    background: $light-white;
                    color: $deep-dark;
                }
                h2{
                    margin-left: 50px;
                    padding: 0;
                    font-size: $font-size-m;
                }
                span{
                    font-size: $font-size-xsm;
                    margin-left: 30px;
                }
                .category{
                    font-size: $font-size-xsm;
                    margin-left: 10px;
                    width: 30%;
                    display:inline-block;
                }
                .price{
                    text-align: left;
                    font-size: $font-size-m;
                    width: 45%;
                    display: inline-block;
                    span{
                        font-size: $font-size-xsm;
                        text-decoration: line-through;
                    }
                }
                img{
                    position: absolute;
                    top: -40px;
                    left: -40px;
                    border-radius: 50%;
                    background-color: transparent;
                    width: 100px;
                    height: 100px;
                }
            }
            &__Item2{
                position: relative;
                position: absolute;
                top: 150px;
                right: -50px;
                width: 250px;
                height: 100px;
                padding: 15px;
                background: $deep-dark;
                border-radius: $border-radius-xl;
                color: $deep-white;
                cursor: pointer;
                transition: background 0.6s ease;
                &:hover{
                    background: $light-white;
                    color: $deep-dark;
                }
                h2{
                    margin-left: 50px;
                    padding: 0;
                    font-size: $font-size-m;
                }
                span{
                    font-size: $font-size-xsm;
                    margin-left: 30px;
                }
                .category{
                    font-size: $font-size-xsm;
                    margin-left: 10px;
                    width: 30%;
                    display:inline-block;
                }
                .price{
                    text-align: left;
                    font-size: $font-size-m;
                    width: 45%;
                    display: inline-block;
                    span{
                        font-size: $font-size-xsm;
                        text-decoration: line-through;
                    }
                }
                img{
                    position: absolute;
                    top: -40px;
                    left: -40px;
                    border-radius: 50%;
                    background-color: transparent;
                    width: 100px;
                    height: 100px;
                }
            }
            &__Item3{
                position: relative;
                position: absolute;
                top: 500px;
                right: -110px;
                width: 250px;
                height: 100px;
                padding: 15px;
                background: $deep-dark;
                border-radius: $border-radius-xl;
                color: $deep-white;
                cursor: pointer;
                transition: background 0.6s ease;
                &:hover{
                    background: $light-white;
                    color: $deep-dark;
                }
                h2{
                    margin-left: 50px;
                    padding: 0;
                    font-size: $font-size-m;
                }
                span{
                    font-size: $font-size-xsm;
                    margin-left: 30px;
                }
                .category{
                    font-size: $font-size-xsm;
                    margin-left: 10px;
                    width: 30%;
                    display:inline-block;
                }
                .price{
                    text-align: left;
                    font-size: $font-size-m;
                    width: 45%;
                    display: inline-block;
                    span{
                        font-size: $font-size-xsm;
                        text-decoration: line-through;
                    }
                }
                img{
                    position: absolute;
                    top: -40px;
                    left: -40px;
                    border-radius: 50%;
                    background-color: transparent;
                    width: 100px;
                    height: 100px;
                }
            }
    
        }
    }
}
.container2{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    background-color: #FFFFFF;
    .section1{
        height: 100px;
        width: 400px;
        background-color: antiquewhite;
        border-radius: $border-radius-xl;
        padding: 20px;
        box-shadow: 1px 4px 14px -4px #221B16;
        display: flex;
        justify-content: start;
        align-items: center;
        img{
            max-width: 70px;
        }
        div{
            align-self: center;
            margin-left: 10px;
        }
    }
    .section2{
        height: 100px;
        width: 400px;
        background-color: antiquewhite;
        border-radius: $border-radius-xl;
        padding: 20px;
        box-shadow: 1px 4px 14px -4px #221B16;
        display: flex;
        justify-content: start;
        align-items: center;
        img{
            max-width: 70px;
        }
        div{
            margin-left: 10px;
        }
    }
    .section3{
        height: 100px;
        width: 400px;
        background-color: antiquewhite;
        border-radius: $border-radius-xl;
        padding: 20px;
        box-shadow: 1px 4px 14px -4px #221B16;
        display: flex;
        justify-content: start;
        align-items: center;
        img{
            max-width: 70px;
        }
        div{
            margin-left: 10px;
        }
    }
}

@include respond-to(0px, 480px){
    .container{
        max-width: 480px;
        height: 100vh;
        &__hero{

            height: auto;
            width: 100%;
            &__leftside{
                margin-top: 150px;
                width: 100%;
                margin: auto;
                background-color: rgba(202, 202, 202, 0.651);
                padding: 30px 20px;
                border-radius: $border-radius-xl;
                
                h1{
                    font-size: $font-size-xxl;
                    font-weight: 700;
                    margin: 10px;
                    line-height: 58px;
                    overflow: hidden;
                }
                p{
                    font-size: $font-size-xsm;
                    margin: 10px 10px 15px 10px;
                }
                button{
                    width: 45%;
                    padding: 15px 20px;
                    border: none;
                    outline: none;
                    background: $deep-dark;
                    color: $deep-white;
                    font-size: $font-size-sm;
                    font-weight: 600;
                    border-radius: $border-radius-sm;
                    cursor: pointer;
                    transition: background 0.3s ease;
                    &:hover{
                        background: $light-white;
                        color: #221B16;
                    }
                    margin: auto 10px;
                }
                input{
                    width: 94%;
                    padding: 15px 20px;
                    margin: 10px 10px 0 10px;
                    border: none;
                    outline: none;
                    background: $deep-white;
                    color: $deep-dark;
                    font-size: $font-size-m;
                    font-weight: 600;
                    border-radius: $border-radius-sm;
                }
            }
            &__rightside{
                width: 100%;
                height: 100%;
                margin: auto;
                position: relative;
                img{
                    width: 300px;
                    height: 300px;
                    position: block;
                    border-radius: 50%;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 130px;
                    width: 150px;
                    height: 480px;
                    background: #221B16;
                    z-index: -1;
                    border-radius: 0px 0px 100px 100px;
                }
            }
        }
        .containerDown{
            width: 100%;
            &__heroItems{
                display: flex;
                justify-content: center;
                align-items: center;
                &__Item1{
                    position: relative;
                    position: absolute;
                    top: 600px;
                    right: 460px;
                    width: 250px;
                    height: 100px;
                    padding: 15px;
                    background: $deep-dark;
                    border-radius: $border-radius-xl;
                    color: $deep-white;
                    cursor: pointer;
                    transition: background 0.6s ease;
                    &:hover{
                        background: $light-white;
                        color: $deep-dark;
                    }
                    h2{
                        margin-left: 50px;
                        padding: 0;
                        font-size: $font-size-m;
                    }
                    span{
                        font-size: $font-size-xsm;
                        margin-left: 30px;
                    }
                    .category{
                        font-size: $font-size-xsm;
                        margin-left: 10px;
                        width: 30%;
                        display:inline-block;
                    }
                    .price{
                        text-align: left;
                        font-size: $font-size-m;
                        width: 45%;
                        display: inline-block;
                        span{
                            font-size: $font-size-xsm;
                            text-decoration: line-through;
                        }
                    }
                    img{
                        position: absolute;
                        top: -40px;
                        left: -40px;
                        border-radius: 50%;
                        background-color: transparent;
                        width: 100px;
                        height: 100px;
                    }
                }
                &__Item2{
                    position: relative;
                    position: absolute;
                    top: 150px;
                    right: -50px;
                    width: 250px;
                    height: 100px;
                    padding: 15px;
                    background: $deep-dark;
                    border-radius: $border-radius-xl;
                    color: $deep-white;
                    cursor: pointer;
                    transition: background 0.6s ease;
                    &:hover{
                        background: $light-white;
                        color: $deep-dark;
                    }
                    h2{
                        margin-left: 50px;
                        padding: 0;
                        font-size: $font-size-m;
                    }
                    span{
                        font-size: $font-size-xsm;
                        margin-left: 30px;
                    }
                    .category{
                        font-size: $font-size-xsm;
                        margin-left: 10px;
                        width: 30%;
                        display:inline-block;
                    }
                    .price{
                        text-align: left;
                        font-size: $font-size-m;
                        width: 45%;
                        display: inline-block;
                        span{
                            font-size: $font-size-xsm;
                            text-decoration: line-through;
                        }
                    }
                    img{
                        position: absolute;
                        top: -40px;
                        left: -40px;
                        border-radius: 50%;
                        background-color: transparent;
                        width: 100px;
                        height: 100px;
                    }
                }
                &__Item3{
                    position: relative;
                    position: absolute;
                    top: 500px;
                    right: -110px;
                    width: 250px;
                    height: 100px;
                    padding: 15px;
                    background: $deep-dark;
                    border-radius: $border-radius-xl;
                    color: $deep-white;
                    cursor: pointer;
                    transition: background 0.6s ease;
                    &:hover{
                        background: $light-white;
                        color: $deep-dark;
                    }
                    h2{
                        margin-left: 50px;
                        padding: 0;
                        font-size: $font-size-m;
                    }
                    span{
                        font-size: $font-size-xsm;
                        margin-left: 30px;
                    }
                    .category{
                        font-size: $font-size-xsm;
                        margin-left: 10px;
                        width: 30%;
                        display:inline-block;
                    }
                    .price{
                        text-align: left;
                        font-size: $font-size-m;
                        width: 45%;
                        display: inline-block;
                        span{
                            font-size: $font-size-xsm;
                            text-decoration: line-through;
                        }
                    }
                    img{
                        position: absolute;
                        top: -40px;
                        left: -40px;
                        border-radius: 50%;
                        background-color: transparent;
                        width: 100px;
                        height: 100px;
                    }
                }
        
            }
        }
    }
    .container2{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
        background-color: #FFFFFF;
        .section1{
            height: 100px;
            width: 400px;
            background-color: antiquewhite;
            border-radius: $border-radius-xl;
            padding: 20px;
            box-shadow: 1px 4px 14px -4px #221B16;
            display: flex;
            justify-content: start;
            align-items: center;
            img{
                max-width: 70px;
            }
            div{
                align-self: center;
                margin-left: 10px;
            }
        }
        .section2{
            height: 100px;
            width: 400px;
            background-color: antiquewhite;
            border-radius: $border-radius-xl;
            padding: 20px;
            box-shadow: 1px 4px 14px -4px #221B16;
            display: flex;
            justify-content: start;
            align-items: center;
            img{
                max-width: 70px;
            }
            div{
                margin-left: 10px;
            }
        }
        .section3{
            height: 100px;
            width: 400px;
            background-color: antiquewhite;
            border-radius: $border-radius-xl;
            padding: 20px;
            box-shadow: 1px 4px 14px -4px #221B16;
            display: flex;
            justify-content: start;
            align-items: center;
            img{
                max-width: 70px;
            }
            div{
                margin-left: 10px;
            }
        }
    }
}



*/