//Colors for the App
$deep-dark: #333333;
$normal-dark: #4F4F4F;
$light-dark: #828282;

$deep-white: #ffffff;
$normal_white: #D4d4d4;
$light-white: #E8e8e8;

$brand-color-normal:#d6cf70;
$brand-color-dark:#ada754;

//Fonts Sizes
$font-size-xxl: 48px;
$font-size-xl: 36px;
$font-size-l: 24px;
$font-size-m: 20px;
$font-size-sm: 16px;
$font-size-xsm: 14px;

//Border Radius
$border-radius-xl: 30px;
$border-radius-l: 24px;
$border-radius-m: 20px;
$border-radius-sm: 12px;
$border-radius-xsm: 8px;

//Icons Sizes
$icon-size-xl: 12px;
$icon-size-l: 12px;
$icon-size-m: 12px;
$icon-size-sm: 12px;
$icon-size-xsm: 12px;


//Spacing - padding


//Spacing - margin

//Box Shadows